<p style="color: green"><%= notice %></p>


<h1>Recipes</h1>
<div id="recipes" class="main-recipe">

  <% @recipes.each do |recipe| %>
  <ul>
 
    <li>
      <div>
       <%= link_to recipe_path(recipe) do %>
      <h2>
        Recipe <%= recipe.id%>
      </h2>
       <% end %>
       <%= button_to "Remove", recipe, method: :delete %>
      </div>
      <p> <%= recipe.description%></p>
    </li>
   
  </ul>
    
  <% end %>
</div>


<div class= "add-recipe-container">
<%= link_to "Add a new recipe", new_recipe_path, class: "add-recipe" %>
</div>