<nav>
    <ul class="nav-list">
      <li class="nav-item"><%= link_to "Home", root_path %></li>
      <li class="nav-item"><%= link_to "Inventories", inventories_path %></li>
      <li class="nav-item"><%= link_to "Foods", foods_path %></li>
      <li class="nav-item"><%= link_to "Recipes", recipes_path %></li>
      <li class="nav-item"><%= link_to "public recipes", public_recipes_path %></li>
      <li class="nav-item"><%= link_to "shopping list", '/shopping_list?recipe_id=1&inventory_id=1'%></li>
    </ul>
  </nav>
