<div id="<%= dom_id food %>">

<table>
      <thead>
        <tr>
          <th>Food</th>
          <th>measurement unit</th>
          <th>Unit price</th>   
          <th>Actions</th>   
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%=  food.name %></td>
            <td><%= food.measurement_unit%></td>
           <td><%= food.price %> </td>
            <td><%= link_to "destroy", food %></td>
      
           </td>
          </tr>
      </tbody>
      
</table>

</div>
